<h1>
	Register page
</h1>

<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<input type="password" placeholder="password repeat" name="password2">
	<button>
		Submit
	</button>
	
</form>